node_modules/
*.log
.package-lock.json
.vscode/
test-results/
playwright-report/
trace.zip
*.trace
*.zip

.env

# Compiled output (for TypeScript projects)
dist/
build/
*.tsbuildinfo

# Playwright screenshots/videos/traces
*.png
*.webm
